{% if blurb %}
<p>
	<strong>{{ blurb }}</strong>
</p>
{% endif %}

<table class="widefat">
{% for id,field in form %}
	<tr>
		<td>
			<label for="{{ id }}">{{ field.name }}</label>
		</td>
		<td>
			{% if field.value is defined %}
			<input class="widefat" id="{{ id }}" name="custom_field[{{ id }}]" type="text" value="{{ field.value }}" />
			{% elseif field.checked is defined %}
			<input class="widefat" id="{{ id }}" name="custom_field[{{ id }}]" type="checkbox" value="1" {% if field.checked %}checked="checked"{% endif %} />
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>