{% if "1" == submission %}
<div id="message" class="updated fade">
	<p>
		{{ msg.success }}
	</p>
</div>
{% endif %}
{% if "0" == submission %}
<div id="message" class="error fade">
	<p>
		{{ msg.error }}
	</p>
</div>
{% endif %}

<p>
	<strong>{{ blurb }}</strong>
</p>

<form action="{{ action }}" method="POST">
	<table class="widefat">
	{% for id,field in form %}
		<tr>
			<td>
				<label for="{{ id }}">{{ field.name }}</label>
			</td>
			{% if field.value is defined %}
			<td>
				<input class="widefat" id="{{ id }}" name="field[{{ id }}]" type="text" value="{{ field.value }}" />
			</td>
			{% elseif field.values is defined and field.selected is defined %}
			<td>
				<select class="widefat" id="{{ id }}" name="field[{{ id }}]">
					{% for key,value in field.values %}
					<option name="{{ attribute( value, field.id_field ) }}">{{ attribute( value, field.text_field ) }}</option>
					{% endfor %}
				</select>
			</td>
			{% endif %}
		</tr>
	{% endfor %}
		<tr>
			<td colspan="2" align="right">
				<input class="button-primary" type="submit" />
			</td>
		</tr>
	</table>
</form>